html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-grey: rgba(44, 44, 44, 1);
  --color-orange: rgba(240, 127, 46, 1);
  --color-forest-green: rgba(15, 63, 60, 1);
  --color-hero-overlay: rgba(0, 0, 0, 0.3);
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
body {
  background-color: var(--color-white);
  color: var(--color-grey);
  font-family: 'Montserrat', sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Скидання значень */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* АДАПТИВКА */

/* Контейнер */
.container {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    margin-bottom: 60px;
  }
  .page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .page-nav-link {
    display: block;
    padding: 8px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.5px;

    color: var(--color-grey);
    transition: color var(--transition-duration-and-func);
  }
  .page-nav-link:hover,
  .page-nav-link:focus {
    color: var(--color-orange);
  }
  .mobile-menu {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 944px) {
  .container {
    width: 944px;
  }
}

/* Шапка */
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-orange);

  padding: 0;
  margin-right: auto;
}
.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .page-nav {
    display: none;
  }
  .section {
    margin-bottom: 20px;
  }
  /* МОБІЛЬНЕ МЕНЮ */

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-open_icon {
    stroke: var(--color-forest-green);
  }
  .mobile-nav {
    padding-left: 15px;
    margin-bottom: auto;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 1000;

    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }
  .mobile-menu_close-btn {
    margin-left: auto;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .mobile-nav-link {
    display: block;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.5px;

    color: var(--color-grey);
    transition: color var(--transition-duration-and-func);
  }
  .mobile-nav-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .mobile-nav-link:hover,
  .mobile-nav-link:focus {
    color: var(--color-orange);
  }

  .mobile-social-list {
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 32px;
  }

  .social-list-icon {
    display: block;
  }
  .mobile-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    fill: teal;

    transition: background-color var(--transition-duration-and-func),
      fiil var(--transition-duration-and-func);
  }
  .mobile-social-list-link:hover,
  .mobile-social-list-link:focus {
    background-color: aqua;
    fill: var(--color-orange);
  }
}

@media screen and (max-width: 767px) {
  .page-hero-slaider {
    max-width: 428px;
    min-height: 432px;
  }
  .first {
    background-image: url(../images/slider/mobile/picture1_mobile.jpg);
  }
  .second {
    background-image: url(../images/slider/mobile/picture2_mobile.jpg);
  }

  .third {
    background-image: url(../images/slider/mobile/picture3_mobile.jpg);
  }
  .wrap-text-hero {
    margin-left: 28px;
    margin-bottom: 28px;
    width: 216px;

    background: var(--color-forest-green);
    border-radius: 16px;

    padding: 12px;
  }
  .page-hero-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.25px;
    margin-bottom: 8px;
  }
  .page-hero-text {
    font-size: 12px;
  }
  .section-list {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    text-align: center;
  }
  .card-content {
    width: 264px;
  }
  .section-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .social-list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .first {
    background-image: url(../images/slider/mobile/picture_mobile1@2x.jpg);
  }
  .second {
    background-image: url(../images/slider/mobile/picture2_mobile@2x.jpg);
  }

  .third {
    background-image: url(../images/slider/mobile/picture3_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 944px) {
  .page-hero-slaider {
    max-width: 768px;
    min-height: 436px;
  }
  .first {
    background-image: url(../images/slider/Tablet/picture1_tablet.jpg);
  }
  .second {
    background-image: url(../images/slider/Tablet/picture2_tablet.jpg);
  }

  .third {
    background-image: url(../images/slider/Tablet/picture3_tablet.jpg);
  }
  .section-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .first {
    background-image: url(../images/slider/Tablet/picture1_tablet@2x.jpg);
  }
  .second {
    background-image: url(../images/slider/Tablet/picture2_tablet@2x.jpg);
  }

  .third {
    background-image: url(../images/slider/Tablet/picture3_tablet@2x.jpg);
  }
}
@media screen and (min-width: 944px) {
  .page-hero-slaider {
    width: 100%;
    height: 480px;
  }
  .first {
    background-image: url(../images/slider/bg1.jpg);
  }
  .second {
    background-image: url(../images/slider/bg2.jpg);
  }

  .third {
    background-image: url(../images/slider/bg3.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 944px),
  screen and (min-resolution: 192dpi) and (min-width: 944px),
  screen and (min-resolution: 2dppx) and (min-width: 944px) {
  .first {
    background-image: url(../images/slider/bg1@2x.jpg);
  }
  .second {
    background-image: url(../images/slider/bg2@2x.jpg);
  }

  .third {
    background-image: url(../images/slider/bg3@2x.jpg);
  }
}
.page-hero-slaider {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .wrap-text-hero {
    width: 432px;
  }
  .page-hero-title {
    font-size: 32px;
  }

  .page-hero-text {
    font-weight: 400;
    font-size: 16px;
  }
  .page-hero-text {
    font-size: 16px;
  }
}

.wrap-text-hero {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 28px;
  margin-bottom: 28px;

  background: var(--color-forest-green);
  border-radius: 16px;

  padding: 24px;
}
.page-hero-title {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.25px;
  margin-bottom: 8px;

  color: var(--color-white);
}

.page-hero-text {
  font-weight: 400;

  line-height: 1.5;

  letter-spacing: 0.5px;

  color: var(--color-white);
}
.hero > .container {
  height: 100%;
  position: relative;
}
.wrapper-hero {
  position: relative;
}

.hero-btn {
  position: absolute;
  top: 45%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color var(--transition-duration-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-orange);
}

.hero-btn.next {
  right: 36px;
}
.hero-btn.prev {
  left: 36px;
}

/* Секція 1 */

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.5px;

  color: var(--color-grey);

  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-list {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .social-list {
    display: flex;
    justify-content: center;

    gap: 32px;
  }
}

.section-list-item {
  transition: background-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func),
    border-radius var(--transition-duration-and-func);
}
.section-list-item:hover,
.section-list-item:focus {
  background-color: var(--color-white);

  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.section-images {
  border-radius: 16px 16px 0px 0px;
}
.section-title-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;

  color: var(--color-grey);
  margin-bottom: 8px;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;

  color: var(--color-grey);
}
@media screen and (min-width: 768px) {
  .card-content {
    width: 288px;
  }
}

.card-content {
  padding: 16px 8px 16px 16px;
}
/* Секція 2 */

.section-title.gallery {
  margin-bottom: 8px;
}
.section-text.gallery {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 16px;
  }
  .section-title.gallery {
    padding-right: 8px;
    padding-left: 8px;
  }
  .section-text.gallery {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 10px;
  }
  .gallery.list {
    gap: 10px 10px;
  }
}
@media screen and (min-width: 944px) {
  .gallery.list {
    width: 944px;
  }
}
.gallery.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-list-item {
  transition: filter var(--transition-duration-and-func);
}
.gallery-list-item:hover,
.gallery-list-item:focus {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}
.gallerry-images {
  border-radius: 16px;
}

/* Футер */
.footer-page {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--color-forest-green);
}

.logo {
  margin-bottom: 8px;
}
.section-text.footer,
.section-text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.5px;

  color: var(--color-white);
}
.section-text-footer {
  margin-bottom: 8px;
  text-align: end;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social-list-icon {
  display: block;
}
.social-list-link {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  fill: var(--color-white);

  transition: background-color var(--transition-duration-and-func),
    fiil var(--transition-duration-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-white);
  fill: var(--color-orange);
}
.section-title {
  flex-grow: 1;

  background-position: center;
  background-size: cover;
  perspective: 500px;
}
.wrap-text-hero {
  animation: shake-horizontal 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4s
    infinite both;
}
@keyframes shake-horizontal {
  0%,
  20% {
    transform: translateX(0);
  }
  2%,
  6%,
  10%,
  14% {
    transform: translateX(-10px);
  }
  4%,
  8%,
  12% {
    transform: translateX(10px);
  }
  16% {
    transform: translateX(8px);
  }
  18% {
    transform: translateX(-8px);
  }
}
